
assets/minecraft/optifine/cit/long_pole_test.properties
assets/minecraft/optifine/cit/textures/long_pole_test.png
assets/minecraft/optifine/cit/long_pole_test.properties
assets/minecraft/optifine/cit/models/format.rkts
assets/minecraft/optifine/cit/models/format.bak
assets/minecraft/optifine/cit/models/format.1
